<!DOCTYPE html>
<html>
<head>
    <title>タスク管理アプリ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>タスク管理アプリ</h1>

    <form action="/create" method="POST">
        <label for="title">タイトル:</label>
        <input type="text" name="title" required><br>
        <label for="description">説明:</label>
        <textarea name="description" required></textarea><br>
        <label for="due_date">期限:</label>
        <input type="date" name="due_date" required><br>
        <label for="priority">優先度:</label>
        <select name="priority">
            <option value="低">低</option>
            <option value="中">中</option>
            <option value="高">高</option>
        </select><br>
        <button type="submit">タスク作成</button>
    </form>

    <h2>タスク一覧</h2>

    {% if tasks %}
        <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task['title'] }}</strong><br>
                {% set priority_class = task.priority|lower %}
                {% if priority_class == '高' %}
                  {% set priority_class = 'high' %}
                {% elif priority_class == '中' %}
                  {% set priority_class = 'medium' %}
                {% elif priority_class == '低' %}
                  {% set priority_class = 'low' %}
                {% endif %}
                優先度:<span class="priority {{ priority_class }}-priority">{{ task.priority }}</span><br>
                説明: {{ task['description'] }}<br>
                期限: {{ task['due_date'] }}<br>
                ステータス: {{ task['status'] }}<br>
                <form action="/edit/{{ loop.index0 }}" method="GET">
                    <button type="submit">編集</button>
                </form>
                <form action="/delete/{{ loop.index0 }}" method="POST">
                    <button type="submit">削除</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>タスクはありません。</p>
    {% endif %}

</body>
</html>
